<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12" ng-controller="CenterCtrl">
			<h1 class="page-header">Center Management</h1>

			<div>
				<a ng-href="/#!/center/new" type="button" class="btn btn-sm btn-success">
					<i class="glyphicon glyphicon-plus"></i> Add an item
				</a>				
			</div>
			<table st-table="displayedCollection" st-safe-src="CenterCollection" class="table table-striped table-bordered table-hover table-responsive">
				<thead>
					<tr>
						<th>Name</th>						
						<th>Manager</th>
						<th>Manager's Phone</th>
						<th>Address</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in displayedCollection">
						<td contentEditable="true" ng-model="row.name">{{row.name}}</td>	

						<td contentEditable="true" ng-model="row.manager.name">
							{{row.manager.name}}
						</td>

						<td>
							<a contentEditable="true" ng-model="row.manager.phone" ng-href="tel:{{row.manager.phone}}">{{row.manager.phone}}</a>
						</td>

						<td contentEditable="true" ng-model="row.address">{{row.address}}</td>

						<td>

							<a ng-href="/#!/center/edit/{{ row.$id }}" type="button" class="btn btn-sm btn-success">
								<i class="glyphicon glyphicon-pencil"></i>
							</a>

							<button type="button" ng-click="RemoveCenter(row)" class="btn btn-sm btn-danger">
								<i class="glyphicon glyphicon-remove-circle"></i>
							</button>
						</td>
					</tr>
				</tbody>

				<tfoot>
					<tr>
						<td colspan="5" class="text-center">
							<div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
						</td>
					</tr>
				</tfoot>

			</table>

		</div>
	</div>
</div>