<div class="container-fluid" ng-controller="MachineCtrl">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-lg-12">
			<h1 class="page-header">Machine Management</h1>

			<div class="">
				<a ng-href="/#!/machine/new" type="button" class="btn btn-sm btn-success">
					<i class="glyphicon glyphicon-plus"></i> Add an item
				</a>				
			</div>
			<table st-table="displayedCollection" st-safe-src="MachineCollection" 
			class="table table-striped table-bordered table-hover table-responsive">
			<thead>
				<tr>					
					<th>Name</th>
					<th>Centers</th>
					<th>Status</th>
					<th>Issue</th>
					<th>Last Updated</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in displayedCollection">
						<!-- <td ng-repeat="image in row.pictures" ng-if="image.cover">
							<img ng-model="image.url" ng-src="{{image.url}}" class="img-rounded" alt="{{row.name}}" width="150px">
						</td>-->

						<td ng-model="row.name">{{row.name}}</td>	

						<td ng-model="row.center">{{row.center}}</td>	

						<td ng-model="row.state">
							<button type="button" ng-if="row.state=='Fixed'" class="btn btn-warning disabled">
								{{row.state}}
							</button>

							<button type="button" ng-if="row.state=='Stopping'||row.state=='Waiting For Repair'" class="btn btn-danger disabled">
								{{row.state}}
							</button>

							<button type="button" ng-if="row.state=='Partially Running'" class="btn btn-warning disabled">
								{{row.state}}
							</button>

							<button type="button" ng-if="row.state=='Running'" class="btn btn-success disabled">
								{{row.state}}
							</button>

						</td>	

						<td ng-model="row.issue">
							{{row.issue}}
						</td>	

						<td ng-model="row.last_update">
							<a href="mailto:{{row.last_update}}" target="_top">{{row.last_update}}</a>
						</td>

						<!-- 
						Running: green <button type="button" class="btn btn-success disabled">Success</button>
						Stopping, wait for repair: Red <button type="button" class="btn btn-danger disabled">Danger</button>
						Fixed: gold <button type="button" class="btn btn-warning disabled">Warning</button>
					-->

					<td>

						<a ng-href="/#!/machine/edit/{{ row.$id }}" type="button" class="btn btn-sm btn-success">
							<i class="glyphicon glyphicon-pencil"></i>
						</a>

						<button type="button" ng-click="RemoveMachine(row)" class="btn btn-sm btn-danger">
							<i class="glyphicon glyphicon-remove-circle"></i>
						</button>

						<button type="button" class="btn btn-sm btn-warning" 
						ng-click="LoadMachineHistory(row.$id)">
						<i class="glyphicon glyphicon-list-alt"></i>
					</button>

					</td>
				</tr>
			</tbody>

			<tfoot>
				<tr>
					<td colspan="6" class="text-center">
						<div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
					</td>
				</tr>
			</tfoot>

			</table>

		</div>
	</div>

<div class="modal fade" id="MachineHistoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Machine Histories</h4>
			</div>
			<div class="modal-body">
				<table st-table="displayedHistoryCollection" st-safe-src="machineHistories" class="table table-striped table-bordered table-hover table-responsive">
					<thead>
						<tr>					
							<th>Date</th>
							<th>Status</th>
							<th>Issue</th>
							<th>Comment</th>
							<th>Last Updated</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in displayedHistoryCollection">	

							<td ng-model="row.date">{{row.date}}</td>	

							<td ng-model="row.state">
								<button type="button" ng-if="row.state=='Fixed'" class="btn btn-warning disabled">
								{{row.state}}
								</button>

								<button type="button" ng-if="row.state=='Stopping'||row.state=='Waiting For Repair'" class="btn btn-danger disabled">
									{{row.state}}
								</button>

								<button type="button" ng-if="row.state=='Partially Running'" class="btn btn-warning disabled">
									{{row.state}}
								</button>

								<button type="button" ng-if="row.state=='Running'" class="btn btn-success disabled">
									{{row.state}}
								</button>

							</td>	

							<td ng-model="row.issue">
								{{row.issue}}
							</td>	

							<td ng-model="row.comment">
								{{row.comment}}
							</td>

							<td ng-model="row.update_by">
								<a href="mailto:{{row.update_by}}" target="_top">{{row.update_by}}</a>
							</td>
						</tr>
					</tbody>

					<tfoot>
						<tr>
							<td colspan="6" class="text-center">
								<div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
							</td>
						</tr>
					</tfoot>

				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
</div>

